# OS Specific
.DS_Store

# Build output
dist/
build/

# Dependencies
node_modules/

package-lock.json

.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
